# ── DATABASE ────────────────────────────────
POSTGRES_USER=portalapp
POSTGRES_PASSWORD=portalapp123
POSTGRES_DB=portalapp_dev
DATABASE_URL=postgresql://portalapp:portalapp123@localhost:5432/portalapp_dev
# ── BACKEND ─────────────────────────────────
PORT=3001
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000
REQRES_BASE_URL=https://reqres.in/api
REQRES_API_KEY=apikey
# ── FRONTEND ─────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:3001